#main-navbar{
  background-color: blue;
  overflow: hidden;
  width: 100%;
  position: relative;
}
#navbar-container{
  list-style-type: none;
  margin: 0;

}
#navbar-container ul{
  padding: 0;
  position: relative;	
  vertical-align: top;
  color: #fff;
  text-decoration: none;
}

#sidebar{
  background-color: red;
}
#sidebar-container{
  height: 100%;
  position: fixed;
  display: block;
  width: 20%;
  right: 0%;
  
}
#sidebar-container ul{
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: #fff;
  text-decoration: none;
  padding: 15px 0;
}

#onpage{
  text-decoration: underline overline;
}