#main-navbar{

}
#navbar-container li{

}

#sidebar{
  padding: 15px 0;
  background-color: #000;
}
#sidebar-container{
  position: fixed;
  display: block;
  background-color: red;
  width: 20%;
  right: 0%;
  height: 100%;
}
#sidebar-container li a{
	list-style-type: none;
	text-align: center;
	padding: 0;
	color: #fff;
	text-decoration: none;
}

#onpage{

}